{% extends "layouts/app.html.twig" %}

{% block title %}Coming Soon{% endblock %}

{% block sidebar %}
    <div class="profile-container">
        <a href="/" target="_top" title="Home"><img class="profile" src="img/profile.png" width="100" height="100" alt="Rob Meijer"></a>
        <h1 class="name">Rob Meijer</h1>
        <h3 class="tagline">Software Developer</h3>
    </div><!--//profile-container-->
    <div class="contact-container container-block">
        <ul class="list-unstyled contact-list">
            <li class="email"><i class="fa fa-envelope"></i><a href="mailto: email@robmeijer.co.uk">email@robmeijer.co.uk</a></li>
            <li class="twitter"><i class="fa fa-twitter"></i><a href="https://twitter.com/robmeijeruk" target="_blank">@robmeijeruk</a></li>
        </ul>
    </div><!--//contact-container-->
{% endblock %}

{% block main %}
    <section class="section summary-section">
        <h2 class="section-title"><i class="fa fa-user"></i>Welcome</h2>
        <div class="summary">
            <p>Coming Soon ...</p>
        </div><!--//summary-->
    </section><!--//section-->
{% endblock %}
