<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Robmeijer.me - {% block title 'Welcome' %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://robmeijer.me/favicon.ico">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
<footer class="footer">
    <div class="text-center">
        <small class="copyright">
            Designed with <i class="fa-solid fa-heart"></i> by
            <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers
        </small>
    </div>
</footer>
</body>
</html>
