{% extends 'home/index.html.twig' %}

{% block title 'Page Not Found' %}

{% block main %}
    <section class="section summary-section">
        <h2 class="section-title">
            <span class="icon-holder"><i class="fa-solid fa-triangle-exclamation"></i></span>Page Not Found
        </h2>
        <div class="summary">
            <p>The page you are looking for can't be found.</p>
        </div><!--//summary-->
    </section><!--//section-->
{% endblock %}
