{% extends 'default/index.html.twig' %}

{% block title 'Internal Server Error' %}

{% block main %}
    <section class="section summary-section">
        <h2 class="section-title"><i class="fa fa-warning"></i>Server Error</h2>
        <div class="summary">
            <p>Internal Server Error.</p>
        </div><!--//summary-->
    </section><!--//section-->
{% endblock %}
