{% extends 'home/index.html.twig' %}

{% block title 'An Error Occurred' %}

{% block main %}
    <section class="section summary-section">
        <h2 class="section-title">
            <span class="icon-holder"><i class="fa-solid fa-triangle-exclamation"></i></span>Oops! An Error Occurred
        </h2>
        <div class="summary">
            <p>The server returned a <strong>{{ status_code }} {{ status_text }}</strong> error.</p>
            <p>Something is broken. Please let us know what you were doing when this error occurred.
                We will fix it as soon as possible. Sorry for any inconvenience caused.</p>
        </div><!--//summary-->
    </section><!--//section-->
{% endblock %}
